@page "/"
@using BlazingTrails.Client.Features.Home
@inject HttpClient Http
<PageTitle>Blazing Trailszzz</PageTitle>

@if (p_trails == null)
{
    <p>Loading trails...</p>
}
else
{
    <TrailDetails Trail="p_selectedTrail" />
    <TrailSearch />

    <div class="grid">
        @foreach (var trail in p_trails)
        {
            <TrailCard Trail="trail" OnSelected="HandleTrailSelected" />
        }
    </div>
}



@code {
    private IEnumerable<Trail>? p_trails;
    private Trail? p_selectedTrail;

    private void HandleTrailSelected(Trail trail)=> p_selectedTrail = trail;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            p_trails = await Http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading trail data: {ex.Message}");
        }
    }
}
